<div class="p-4 mx-auto h-screen bg-blue-700">
  <LinkTo @route="index">
    <h1 class="font-semibold text-white">Music App</h1>
  </LinkTo>

  <div class="w-full bg-grey-100">
    {{outlet}}
  </div>
</div>