<div class="w-full">
  <div>
    <h1 class="h-16 text-lg">Albums</h1>
    <hr>
  </div>

  <ul class="ml-2 mt-2">
    {{#each @model as |album|}}
      <li data-test="music-list-item">
        <LinkTo
          @route="albums.album"
          @model={{album.id}}
          data-test="album-{{album.id}}"
        >
          {{album.name}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>